numpy
scipy
pandas
xlrd
matplotlib
seaborn
mne
autoreject
scikit-learn
nibabel
numba
h5py
numexpr
jupyter
python-picard
statsmodels
psutil
dipy
pyqt5-sip
sip
vtk<=9.0.1
nilearn
tqdm
imageio
imageio-ffmpeg
pyvista
pyvistaqt
mffpy>=0.5.7
ipywidgets
ipyvtklink
pyprep
bsl
mne-qt-browser
